# Dependencies
.bun/
*/.bun/
node_modules/

# Build & Output
dist/

# Environment & Secrets
.dev.vars
.dev.vars*
!.dev.vars.example
.env
.env.local
.env*
!.env.example
.keys/

# Cloudflare Wrangler
.wrangler/
wrangler.json
wrangler.jsonc
wrangler.toml
!wrangler.jsonc.example

# Package Manager
*/bun.lockb
bun.lock
bun.lockb

# OS
.DS_Store